.recipeContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  padding: 100px 60px;
}
.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipeHeader h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: left;
}
.recipeHeader p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}
.cardTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cardTitle h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.card {
  background-color: red;
}

.recipesCard {
  position: relative;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 12px;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.imageUrl {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
